@import 'https://fonts.googleapis.com/css?family=Slabo+27px';

body {
  background: url('../images/bg.jpg') center bottom no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

.wrapper {
  min-height: 100vh;
  background: linear-gradient(to bottom, #fff 70%, rgba(255,255,255,.6));
  border-top: 4px solid #E63236;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  width: 220px;
  margin-bottom: 40px;
}


.text {
  font-size: 18px;
  display: block;
  letter-spacing: 2px;
}

.hero {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Slabo 27px', serif;
}
